*{
    background-color: rgb(13, 72, 105);
    color:white;
    text-align: center;
    font-family: 'Poppins', Courier, monospace;
    font-size:xx-large;
    scroll-behavior: smooth;
    justify-content: center;
}
