*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: rgb(97, 236, 234);
}

main{
    position: absolute;
    left: 50px;
    top: 100px;
    padding: 30px 40px;
}
header{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 5px;
}
.mainpage{
    padding-bottom: 40px;
}
.contentpage{
    padding-bottom: 40px;
}
